:root {
--color1: #A18B74ff;
--color2: #787C7Aff;
--color3: #D5C7BDff;
--color4: #292627ff;
--color5: #5B3F41ff;
--color6: #595953;
  /*--color0: #B8D5B8; */
  /*--color1: #05A8AA; */
  /*--btn-color: #0987f2;*/
}

body {
	display: flex;
	justify-content: center;
	background-color: var(--color0);

}


#root {
	display: flex;
	flex-direction: column;

}
