:root {
--formWidth: 60vw;
--formHeight: 80vh;
}

p {
	font-family: "Montserrat";
}

.containerContactMe {
	display:flex; 
	flex-direction: column; 
	margin: 5em;
	padding: 1em;
	width: var(--formWidth);
	height: var(--formHeight);
	background-color: var(--color3);
	max-height: 60vh; 
} 

.header { 
	font-size: 4vh;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
} 

.formWords {
	font-family: "Montserrat";
	font-size: 3vh; 
	margin-bottom: 0.5em;
} 

.formInput, .formMessage{
	height: 3vh;
	width: 10wh;
	margin-bottom: 1em;
}

.formTextArea {
	height: 10vh;
	max-height: 10vh;
}

.formBox {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 25%;
}

